{% extends "layouts/base.html" %}
{% block 'title' %} 
    {% if warehouse %} Edit Warehouse {% else %} Add Warehouse {% endif %}
{% endblock 'title' %}

{% block 'content' %}
    <h1 class="text-3xl font-bold">Warehouse Management</h1>
    <section class="w-full h-auto p-2 flex flex-col gap-3">
        <section class="dark:bg-gray-800 p-5 rounded-2xl">
            <form method="POST" action="{% if warehouse %}{% url 'warehouses:warehouse.update' warehouse.id %}{% else %}{% url 'warehouses:warehouse.add' %}{% endif %}">
                {% csrf_token %}

                <div class="grid gap-6 mb-6 md:grid-cols-2">
                    <div class="mb-6">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Warehouse Name</label>
                        <input type="text" id="name" name="name" value="{{ form_data.name }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                    </div>

                    <div class="mb-6">
                        <label for="location" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Location</label>
                        <input type="text" id="location" name="location" value="{{ form_data.location }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required/>
                    </div>
                </div>

                {% if warehouse %}
                <div class="mb-6">
                    <label for="status" class="inline-flex items-center">
                        <input type="checkbox" id="status" name="status"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                            {% if form_data.status %}checked{% endif %}>
                        <span class="ml-2 text-sm font-medium text-gray-900 dark:text-white">Active</span>
                    </label>
                </div>
                {% endif %}


                <div class="flex flex-row items-center justify-end gap-3">
                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Submit
                    </button>
                    <a href="{% url 'warehouses:warehouses' %}" class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">Cancel</a>
                </div>
            </form>
        </section>
    </section>
{% endblock 'content' %}
