{% extends "layouts/base.html" %}
{% load static %}
{% block 'title' %} Dashboard {% endblock 'title' %}
{% block 'content' %}
    <h1 class="text-2xl font-bold mb-6">Dashboard</h1>
    <section class="w-full h-auto p-2">
        
        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-col-4 gap-6 mb-6">
            <!-- Daily Sales Card -->
            <div class="flex items-center bg-green-100 shadow-md rounded-2xl p-6">
                <span class="material-icons text-green-600 text-4xl mr-5">shopping_cart</span>
                <div>
                <h2 class="text-sm text-gray-600 font-medium">Daily Sales</h2>
                <p class="text-2xl font-bold text-gray-800">₱1,200</p>
                </div>
            </div>

            <!-- Daily Profit Card -->
            <div class="flex items-center bg-blue-100 shadow-md rounded-2xl p-6">
                <span class="material-icons text-blue-600 text-4xl mr-5">attach_money</span>
                <div>
                <h2 class="text-sm text-gray-600 font-medium">Daily Profit</h2>
                <p class="text-2xl font-bold text-gray-800">₱800</p>
                </div>
            </div>

            <!-- Daily Transaction Card -->
            <div class="flex items-center bg-yellow-100 shadow-md rounded-2xl p-6">
                <span class="material-icons text-yellow-600 text-4xl mr-5">receipt_long</span>
                <div>
                    <h2 class="text-sm text-gray-600 font-medium">Daily Transactions</h2>
                    <p class="text-2xl font-bold text-gray-800">45</p>
                </div>
            </div>

            <!-- Daily Products Sold Card -->
            <div class="flex items-center bg-purple-100 shadow-md rounded-2xl p-6">
                <span class="material-icons text-purple-600 text-4xl mr-5">inventory_2</span>
                <div>
                <h2 class="text-sm text-gray-600 font-medium">Daily Products Sold</h2>
                <p class="text-2xl font-bold text-gray-800">120 pcs</p>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-2 md:grid-cols-1 gap-6 md:gap-8 mt-6">
            <!-- Top Categories Chart -->
            <div class="w-full min-h-[384px] shadow-md rounded-2xl">
                <div id="topCategoriesChart" class="w-full h-full"></div>
            </div>

            <!-- Product Sales Chart -->
            <div class="w-full min-h-[384px] shadow-md rounded-2xl">
                <div id="productSalesChart" class="w-full h-full"></div>
            </div>
        </div>

    </section>
    <script src="{% static 'js/apexcharts.js' %}"></script>
    <script src="{% static 'js/charts.js' %}"></script>
{% endblock 'content' %}