{% load static %}
<aside id="mobileSidebar"
    class="fixed inset-y-0 left-0 w-64 bg-gray-800 text-white flex flex-col transform -translate-x-full md:translate-x-0 transition-transform duration-300 ease-in-out z-60 md:z-auto">
    <div class="p-6 font-bold text-xl border-b border-gray-700 flex justify-between items-center">
        <a href="{% url 'login:dashboard' %}" class="flex items-center justify-center gap-2">
            <img src="{% static 'images/App-Logo.png' %}" alt="App Logo" class="rounded-full" style="max-width: 42px;">
            <strong>P.O.S</strong>
        </a>
        <!-- Close Button (Mobile only) -->
        <button id="closeSidebar" class="md:hidden text-white focus:outline-none">
            ✕
        </button>
    </div>
    <nav class="flex-grow mt-4">
        <ul class="space-y-4 px-6">
            <li>
                <a href="{% url 'login:dashboard' %}" 
                class="flex items-center gap-2 py-2 px-4 rounded transition 
                {% if request.resolver_match.url_name == 'dashboard' %}bg-blue-400 text-white font-bold{% else %}hover:bg-blue-400 hover:text-gray-900{% endif %}">
                <i class="material-icons">dashboard</i>
                Dashboard
                </a>
            </li>
            <li>
                <a href="{% url 'sales:sales' %}" 
                class="flex items-center gap-2 py-2 px-4 rounded transition
                {% if request.resolver_match.url_name == 'sales' %}bg-blue-400 text-white font-bold{% else %}hover:bg-blue-400 hover:text-gray-900{% endif %}">
                <i class="material-icons">point_of_sale</i>
                Sales   
                </a>
            </li>
            <li>
                <a href="{% url 'products:products' %}" 
                class="flex items-center gap-2 py-2 px-4 rounded transition
                {% if request.resolver_match.url_name == 'products' or request.resolver_match.url_name == 'product.add' or request.resolver_match.url_name == 'product.edit' %}bg-blue-400 text-white font-bold{% else %}hover:bg-blue-400 hover:text-gray-900{% endif %}">
                <i class="material-icons">view_in_ar</i>
                Products   
                </a>
            </li>
            <li>
                <a href="{% url 'products:categories' %}" 
                class="flex items-center gap-2 py-2 px-4 rounded transition
                {% if request.resolver_match.url_name == 'categories' or request.resolver_match.url_name == 'category.add' or request.resolver_match.url_name == 'category.edit' %}bg-blue-400 text-white font-bold{% else %}hover:bg-blue-400 hover:text-gray-900{% endif %}">
                <i class="material-icons">category</i>
                Categories   
                </a>
            </li>
            <li>
                <a href="{% url 'inventory:inventory' %}" 
                class="flex items-center gap-2 py-2 px-4 rounded transition
                {% if request.resolver_match.url_name == 'inventory' or request.resolver_match.url_name == 'inventory.add_product_stock' or request.resolver_match.url_name == 'inventory.stock_logs' or request.resolver_match.url_name == 'inventory.adjust_stock' %}bg-blue-400 text-white font-bold{% else %}hover:bg-blue-400 hover:text-gray-900{% endif %}">
                <i class="material-icons">inventory_2</i>
                Inventory
                </a>
            </li>
            <li>
                <a href="{% url 'warehouses:warehouses' %}" 
                class="flex items-center gap-2 py-2 px-4 rounded transition
                {% if request.resolver_match.url_name == 'warehouses' or request.resolver_match.url_name == 'warehouse.add' %}bg-blue-400 text-white font-bold{% else %}hover:bg-blue-400 hover:text-gray-900{% endif %}">
                <i class="material-icons">warehouse</i>
                Warehouses
                </a>
            <li>
                <a href="{% url 'users:users' %}" 
                class="flex items-center gap-2 py-2 px-4 rounded transition
                {% if request.resolver_match.url_name == 'users' or request.resolver_match.url_name == 'users.add' or request.resolver_match.url_name == 'users.edit' %}bg-blue-400 text-white font-bold{% else %}hover:bg-blue-400 hover:text-gray-900{% endif %}">
                <i class="material-icons">people</i>
                Users   
                </a>
            </li>
        </ul>
    </nav>
</aside>