{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <title>Point Of Sale - {% block 'title' %} {% endblock 'title' %}</title>
</head>
<body>
    {% if request.user.is_authenticated %}
    <div class="layout-container flex min-h-screen">
        {% include "layouts/_sidebar.html" %}

        <div class="flex flex-col flex-grow ml-0 md:ml-64 min-h-screen">

            {% include "layouts/_navbar.html" %}

            <main class="flex-grow p-6 mt-3 bg-gray-50">
                {% block 'content' %}
                {% endblock 'content' %}
            </main>
        </div>
        {% if messages %}
            {% for message in messages %}
                {% include "components/toastNotification.html" with message=message message_type=message.tags %}
            {% endfor %}
        {% endif %}
    </div>
    <script src="{% static 'js/index.js' %}"></script>
    
    {% endif %}
</body> 
</html>