{% extends "layouts/base.html" %}
{% block 'title' %} Inventory {% endblock 'title' %}
{% block 'content' %}
    <h1 class="text-3xl font-bold">Inventory Management</h1>
    <section class="w-full h-auto p-2 flex flex-col gap-3">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg dark:bg-gray-900">
            <header class="flex flex-col md:flex-row md:justify-between gap-4 p-3 md:items-center dark:bg-gray-900">
                <h2 class="text-2xl text-white">{{ product.product_name }} - Stock Logs</h2>
                <input type="hidden" id="stock_id" value="{{ stockLog.stock_id }}">
                <div class="flex flex-col sm:flex-row sm:items-center gap-2">
                    <a href="{% url 'inventory:inventory' %}" 
                        class="block text-center py-2 px-4 rounded transition bg-blue-400 text-white font-bold hover:bg-blue-500 hover:text-white">
                        Back
                    </a>
                </div>
            </header>
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Quantity
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Type
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Date
                        </th>
                    </tr>
                </thead>
                <tbody id="data-table">
                    {% for stockLog in page_obj %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <td class="px-6 py-4">
                            {{ stockLog.change }}
                        </td>
                        <td class="px-6 py-4">
                            {{ stockLog.get_type_display }}
                        </td>
                        <td class="px-6 py-4">
                            {{ stockLog.created_at|date:"Y-m-d H:i" }}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="text-center py-4 text-gray-500">No stock logs available.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="pagination-controls" class="mt-2 p-3 flex justify-center gap-2">
                {% if page_obj.has_previous %}
                    <a href="?page=1&stock_id={{ stockLog.stock_id }}" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">First</a>
                    <a href="?page={{ page_obj.previous_page_number }}&stock_id={{ stockLog.stock_id }}" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">Previous</a>
                {% endif %}

                <span class="px-3 py-1 bg-blue-500 text-white rounded">{{ page_obj.number }}</span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&stock_id={{ stockLog.stock_id }}" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}&stock_id={{ stockLog.stock_id }}" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">Last</a>
                {% endif %}
            </div>
        </div>

    </section>
{% endblock 'content' %}    